<section class="footer">
    <div class="container">
        <div class="row footer_items">
            <div class="col-sm-3 footer_item">
                <h4 class="text-normal-bold">Useful Links</h4>
                <div class="footer_item-links">
                    <a class="footer_item-link">Delivery Information</a>
                    <a class="footer_item-link">Payment Options</a>
                    <a class="footer_item-link">Track Your Order</a>
                    <a class="footer_item-link">Find a Store</a>
                </div>
            </div>
            <div class="col-sm-3">
                <h4 class="text-normal-bold">Information</h4>
                <div class="footer_item-links">
                    <a class="footer_item-link">Careers</a>
                    <a class="footer_item-link">Blog</a>
                    <a class="footer_item-link">About Glinz</a>
                    <a class="footer_item-link">Help & FAQs</a>
                </div>
            </div>
            <div class="col-sm-3">
                <h4 class="text-normal-bold">Contact Us</h4>
                <div class="footer_item-links">
                    <a class="footer_item-link"><mat-icon>email</mat-icon> Write Us</a>
                    <a class="footer_item-link"><mat-icon>phone</mat-icon> 1800-266-0123</a>
                    <a class="footer_item-link"><mat-icon>chat_bubble_outline</mat-icon> Chat with Us</a>
                </div>
            </div>
            <div class="col-sm-3">
                <h4 class="text-normal-bold">Follow us on</h4>
                <div class="footer_item-social">
                    <mat-icon>facebook</mat-icon>
                    <mat-icon>email</mat-icon>
                    <mat-icon>email</mat-icon>
                </div>
            </div>
        </div>
        <hr>
        <p>© 2022 GLINZ Company Limited. All Rights Reserved.</p>
    </div>
</section>