.glinz-toggle-btn--active {
    .mat-button-toggle-button {
        color: #155724 !important;
        font-family: 'Poppins', 'sans-serif';
    }
}
.glinz-toggle-btn--inactive {
    .mat-button-toggle-button {
        color: #721c24 !important;
        font-family: 'Poppins', 'sans-serif';
    }
}