/* You can add global styles to this file, and also import other style files */
// Functions first
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Poppins:wght@500&display=swap');
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

@import 'styles/app.scss';
html, body { height: 100%; }
//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body { margin: 0; font-family: 'Poppins', sans-serif !important; }
